# Exercise 4

Feature selection:

1. You need to load the UCI Arrhythmia dataset
https://archive.ics.uci.edu/ml/datasets/arrhythmia
* the problem is a multi-class classification

2. For comparing the result you need to use kNN (k=3), and compare based on the accuracy with the original dataset (with the all features).

2. Run three different types of feature selection methods (Univariate Statistics, model based, and Iterative Feature Selection).
* The original data set has 279 features.
* You need to run the methods for number_of_features= 20, 50, 100, 150, 200
* All the results should show in the same figure (At the end we have just one figure)

Link to GitHub: https://github.com/alintu/Assignments/tree/master/MLPP

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

import warnings
warnings.filterwarnings("ignore", category=Warning)

In [2]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/arrhythmia/arrhythmia.data', header=None)
df

,0,1,2,3,4,5,6,7,8,9,...,270,271,272,273,274,275,276,277,278,279
0,75,0,190,80,91,193,371,174,121,-16,...,0.0,9.0,-0.9,0.0,0.0,0.9,2.9,23.3,49.4,8
1,56,1,165,64,81,174,401,149,39,25,...,0.0,8.5,0.0,0.0,0.0,0.2,2.1,20.4,38.8,6
2,54,0,172,95,138,163,386,185,102,96,...,0.0,9.5,-2.4,0.0,0.0,0.3,3.4,12.3,49.0,10
3,55,0,175,94,100,202,380,179,143,28,...,0.0,12.2,-2.2,0.0,0.0,0.4,2.6,34.6,61.6,1
4,75,0,190,80,88,181,360,177,103,-16,...,0.0,13.1,-3.6,0.0,0.0,-0.1,3.9,25.4,62.8,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,53,1,160,70,80,199,382,154,117,-37,...,0.0,4.3,-5.0,0.0,0.0,0.7,0.6,-4.4,-0.5,1
448,37,0,190,85,100,137,361,201,73,86,...,0.0,15.6,-1.6,0.0,0.0,0.4,2.4,38.0,62.4,10
449,36,0,166,68,108,176,365,194,116,-85,...,0.0,16.3,-28.6,0.0,0.0,1.5,1.0,-44.2,-33.2,2
450,32,1,155,55,93,106,386,218,63,54,...,-0.4,12.0,-0.7,0.0,0.0,0.5,2.4,25.0,46.6,1
451,78,1,160,70,79,127,364,138,78,28,...,0.0,10.4,-1.8,0.0,0.0,0.5,1.6,21.3,32.8,1

In [3]:
df[279].unique()

array([ 8,  6, 10,  1,  7, 14,  3, 16,  2,  4,  5,  9, 15], dtype=int64)

In [4]:
df.isnull().values.any()

False

In [5]:
df.dtypes.value_counts()

int64      155
float64    120
object       5
dtype: int64

In [6]:
df.select_dtypes(include=['object'])

      10   11   12   13  14
0     13   64   -2    ?  63
1     37  -17   31    ?  53
2     34   70   66   23  75
3     11   -5   20    ?  71
4     13   61    3    ?   ?
..   ...  ...  ...  ...  ..
447    4   40  -27    ?  63
448   66   52   79    ?  73
449  -19  -61  -70   84  84
450   29  -22   43  103  80
451   79   52   47    ?  75

[452 rows x 5 columns]

In [7]:
#columns 10-14 are missing some data ('?' instead)

df[10].unique()

array(['13', '37', '34', '11', '66', '49', '7', '69', '71', '42', '51',
       '20', '45', '75', '-24', '28', '39', '78', '56', '10', '17', '112',
       '52', '48', '153', '172', '16', '32', '46', '23', '35', '3', '-8',
       '-5', '4', '60', '8', '-18', '76', '64', '9', '79', '33', '14',
       '30', '53', '25', '62', '?', '43', '31', '19', '50', '68', '-164',
       '-56', '15', '-2', '87', '-136', '175', '-124', '142', '-13', '-9',
       '58', '47', '-165', '73', '21', '38', '70', '-92', '143', '22',
       '72', '57', '41', '65', '36', '63', '55', '44', '77', '24', '81',
       '12', '29', '18', '40', '54', '-1', '104', '-167', '-15', '67',
       '108', '-75', '160', '114', '-22', '120', '-115', '147', '-82',
       '-63', '-172', '102', '179', '86', '-52', '-49', '174', '-27',
       '95', '-123', '61', '137', '164', '5', '-177', '-103', '-106',
       '-42', '117', '127', '-160', '122', '59', '-16', '26', '100', '0',
       '-21', '-121', '-174', '-51', '105', '-116', '-4', '-119', '91',
       '84', '133', '-163', '107', '-132', '113', '145', '99', '125',
       '-144', '96', '162', '-17', '88', '126', '-76', '-23', '177',
       '150', '103', '83', '-26', '-68', '136', '111', '149', '-10', '27',
       '-19'], dtype=object)

In [8]:
#df[11].unique()

In [9]:
#df[12].unique()

In [10]:
#df[13].unique()

In [11]:
#df[14].unique()

In [12]:
#removing rows with '?'

data = df[(df[10] != '?') & 
          (df[11] != '?') &
          (df[12] != '?') &
          (df[13] != '?') &
          (df[14] != '?')]

In [13]:
#only 68 rows left !

data

,0,1,2,3,4,5,6,7,8,9,...,270,271,272,273,274,275,276,277,278,279
2,54,0,172,95,138,163,386,185,102,96,...,0.0,9.5,-2.4,0.0,0.0,0.3,3.4,12.3,49.0,10
8,44,0,168,56,84,118,354,160,63,61,...,0.0,7.0,-1.3,0.0,0.0,0.6,2.1,12.5,30.9,1
29,51,1,160,83,96,147,400,301,82,-37,...,0.0,7.3,-3.9,0.0,0.0,0.5,-1.1,3.6,-6.3,2
56,38,1,160,63,79,0,376,165,0,34,...,0.0,10.1,0.0,0.0,0.0,0.0,1.5,26.2,37.0,1
71,37,0,182,90,101,294,356,164,143,33,...,0.0,6.9,0.0,0.0,0.0,0.2,1.9,22.0,38.3,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426,35,1,160,53,55,163,340,162,102,40,...,0.0,8.7,-0.5,0.0,0.0,0.5,2.3,20.9,40.6,1
430,11,0,138,29,123,145,361,221,80,112,...,-3.4,19.6,-4.2,0.0,0.0,0.2,1.8,12.2,25.1,10
440,37,0,176,72,88,153,389,172,89,67,...,-0.9,16.6,-3.4,0.0,0.0,0.7,1.8,24.9,41.4,1
449,36,0,166,68,108,176,365,194,116,-85,...,0.0,16.3,-28.6,0.0,0.0,1.5,1.0,-44.2,-33.2,2
450,32,1,155,55,93,106,386,218,63,54,...,-0.4,12.0,-0.7,0.0,0.0,0.5,2.4,25.0,46.6,1

In [14]:
#To keep more data entries, let's remove columns/features with '?' instead of rows

data = df.drop(df.columns[[10,11,12,13,14]], axis=1)

In [15]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,270,271,272,273,274,275,276,277,278,279
0,75,0,190,80,91,193,371,174,121,-16,...,0.0,9.0,-0.9,0.0,0.0,0.9,2.9,23.3,49.4,8
1,56,1,165,64,81,174,401,149,39,25,...,0.0,8.5,0.0,0.0,0.0,0.2,2.1,20.4,38.8,6
2,54,0,172,95,138,163,386,185,102,96,...,0.0,9.5,-2.4,0.0,0.0,0.3,3.4,12.3,49.0,10
3,55,0,175,94,100,202,380,179,143,28,...,0.0,12.2,-2.2,0.0,0.0,0.4,2.6,34.6,61.6,1
4,75,0,190,80,88,181,360,177,103,-16,...,0.0,13.1,-3.6,0.0,0.0,-0.1,3.9,25.4,62.8,7

In [16]:
data.dtypes.value_counts()

int64      155
float64    120
dtype: int64

#### kNN for the original dataset with all features

In [17]:
#define features and target

X = data.iloc[:,:274].values
y = data[279].values

In [18]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [19]:
#KNeighborsClassifier?

In [20]:
#train/test split

X_train, X_test, y_train, y_test = train_test_split(X, y)

In [21]:
#find best parameters for model with GridSearchCV

from sklearn.model_selection import GridSearchCV

param_grid = {'leaf_size': [1,3,5,10,30],
              'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute'],
              'weights': ['uniform', 'distance']}

grid_search = GridSearchCV(KNeighborsClassifier(n_neighbors=3), param_grid, cv=5)
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)
grid_search.fit(X_train, y_train)

print("Test set score: {:.3f}".format(grid_search.score(X_test, y_test)))
print("Best parameters: {}".format(grid_search.best_params_))
print("Best cross-validation score: {:.3f}\n".format(grid_search.best_score_))
print("Best estimator:\n{}".format(grid_search.best_estimator_))

Test set score: 0.628
Best parameters: {'algorithm': 'auto', 'leaf_size': 1, 'weights': 'uniform'}
Best cross-validation score: 0.658

Best estimator:
KNeighborsClassifier(leaf_size=1, n_neighbors=3)

In [22]:
clf = KNeighborsClassifier(n_neighbors=3, leaf_size=1)
clf.fit(X_train, y_train)
print("Train set accuracy with all features: {:.3f}".format(clf.score(X_train, y_train)))
print("Test set accuracy with all features: {:.3f}".format(clf.score(X_test, y_test)))

Train set accuracy with all features: 0.749
Test set accuracy with all features: 0.628

### Univariate statistics

In [23]:
from sklearn.feature_selection import SelectPercentile

In [24]:
#create function to calculate train and test accuracy scores for number of selected features (in %)

def univar (n_features):
    #use SelectPercentile to select features
    select = SelectPercentile(percentile=n_features).fit(X_train, y_train)

    # transform training set
    X_train_select = select.transform(X_train)
    
    # transform test data
    X_test_select = select.transform(X_test)
    clf.fit(X_train_select, y_train)
    return {'Train':'{:.3f}'.format(clf.score(X_train_select, y_train)),
            'Test':'{:.3f}'.format(clf.score(X_test_select, y_test))}

In [25]:
#with 20 features

univar(7)

{'Train': '0.708', 'Test': '0.584'}

In [26]:
#with 50 features

univar(18)

{'Train': '0.746', 'Test': '0.593'}

In [27]:
#with 100 features

univar(36.5)

{'Train': '0.755', 'Test': '0.593'}

In [28]:
#150 features

univar(54.7)

{'Train': '0.755', 'Test': '0.584'}

In [29]:
#200 features

univar(73)

{'Train': '0.752', 'Test': '0.628'}

### Model-based feature selection

In [30]:
from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import LogisticRegression

In [31]:
#SelectFromModel?

In [32]:
def model_based (n_features):
    mb = SelectFromModel(
       estimator=LogisticRegression(), 
       threshold=-np.inf, 
       max_features=n_features).fit(X_train,y_train)
    
    # transform training set
    X_train_mb = mb.transform(X_train)
    
    # transform test data
    X_test_mb = mb.transform(X_test)
    clf.fit(X_train_mb, y_train)
    return {'Train':'{:.3f}'.format(clf.score(X_train_mb, y_train)),
            'Test':'{:.3f}'.format(clf.score(X_test_mb, y_test))}

In [33]:
#with 20 features

model_based(20)

{'Train': '0.708', 'Test': '0.575'}

In [34]:
#with 50 features

model_based(50)

{'Train': '0.749', 'Test': '0.611'}

In [35]:
#100 features

model_based(100)

{'Train': '0.749', 'Test': '0.628'}

In [36]:
#150 features

model_based(150)

{'Train': '0.749', 'Test': '0.628'}

In [37]:
#200 features

model_based(200)

{'Train': '0.749', 'Test': '0.628'}

### Iterative feature selection

In [38]:
from sklearn.feature_selection import RFE

In [39]:
#RFE?

In [40]:
def iterat (n_features):
    select = RFE(LogisticRegression(),
            n_features_to_select=n_features).fit(X_train, y_train)
    X_train_selected = select.transform(X_train)
    X_test_selected = select.transform(X_test)

    clf.fit(X_train_selected, y_train)
    return {'Train':'{:.3f}'.format(clf.score(X_train_selected, y_train)),
            'Test':'{:.3f}'.format(clf.score(X_test_selected, y_test))}

In [41]:
#20 features

iterat(20)

{'Train': '0.735', 'Test': '0.619'}

In [42]:
#50 features

iterat(50)

{'Train': '0.732', 'Test': '0.628'}

In [43]:
#100 features

iterat(100)

{'Train': '0.752', 'Test': '0.628'}

In [44]:
#150 features

iterat(150)

{'Train': '0.749', 'Test': '0.628'}

In [45]:
#200 features

iterat(200)

{'Train': '0.749', 'Test': '0.628'}

### Summary of scores

In [46]:
summary = pd.DataFrame(
    columns=['Univariate statistics', 'Model-based feature selection', 'Iterative feature selection'],
    index=['20', '50', '100', '150', '200'])
summary.loc[:, 'Univariate statistics'] = [
                univar(7), 
                univar(18), 
                univar(36.5), 
                univar(54.7),
                univar(73)
               ]
summary.loc[:, 'Model-based feature selection'] = [
                model_based(20), 
                model_based(50), 
                model_based(100), 
                model_based(150),
                model_based(200)
               ]
summary.loc[:, 'Iterative feature selection'] = [
                iterat(20), 
                iterat(50), 
                iterat(100), 
                iterat(150),
                iterat(200)
               ]

In [47]:
summary

,Univariate statistics,Model-based feature selection,Iterative feature selection
20,"{'Train': '0.708', 'Test': '0.584'}","{'Train': '0.708', 'Test': '0.575'}","{'Train': '0.735', 'Test': '0.619'}"
50,"{'Train': '0.746', 'Test': '0.593'}","{'Train': '0.749', 'Test': '0.611'}","{'Train': '0.732', 'Test': '0.628'}"
100,"{'Train': '0.755', 'Test': '0.593'}","{'Train': '0.749', 'Test': '0.628'}","{'Train': '0.752', 'Test': '0.628'}"
150,"{'Train': '0.755', 'Test': '0.584'}","{'Train': '0.749', 'Test': '0.628'}","{'Train': '0.749', 'Test': '0.628'}"
200,"{'Train': '0.752', 'Test': '0.628'}","{'Train': '0.749', 'Test': '0.628'}","{'Train': '0.749', 'Test': '0.628'}"

### Let's create new classes and run the same methods

In [48]:
data_new = data.copy()

In [49]:
data_new.loc[((data_new[279] == 1) | 
             (data_new[279] == 2) | 
             (data_new[279] == 3) | 
             (data_new[279] == 4) |
             (data_new[279] == 5)),'NewClass'] = 0
data_new.loc[((data_new[279] == 6) | 
             (data_new[279] == 7) | 
             (data_new[279] == 8) | 
             (data_new[279] == 9) | 
             (data_new[279] == 10) | 
             (data_new[279] == 11)),'NewClass'] = 1
data_new.loc[((data_new[279] == 12) | 
              (data_new[279] == 13) | 
              (data_new[279] == 14) | 
              (data_new[279] == 15) | 
              (data_new[279] == 16)),'NewClass'] = 2

In [50]:
data_new.head()

,0,1,2,3,4,5,6,7,8,9,...,271,272,273,274,275,276,277,278,279,NewClass
0,75,0,190,80,91,193,371,174,121,-16,...,9.0,-0.9,0.0,0.0,0.9,2.9,23.3,49.4,8,1.0
1,56,1,165,64,81,174,401,149,39,25,...,8.5,0.0,0.0,0.0,0.2,2.1,20.4,38.8,6,1.0
2,54,0,172,95,138,163,386,185,102,96,...,9.5,-2.4,0.0,0.0,0.3,3.4,12.3,49.0,10,1.0
3,55,0,175,94,100,202,380,179,143,28,...,12.2,-2.2,0.0,0.0,0.4,2.6,34.6,61.6,1,0.0
4,75,0,190,80,88,181,360,177,103,-16,...,13.1,-3.6,0.0,0.0,-0.1,3.9,25.4,62.8,7,1.0

In [51]:
#define features and target

X = data_new.iloc[:,:274].values
y = data_new['NewClass'].values

In [52]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [53]:
#classification on the original dataset 

clf.fit(X_train, y_train)
print("Train set accuracy with all features: {:.3f}".format(clf.score(X_train, y_train)))
print("Test set accuracy with all features: {:.3f}".format(clf.score(X_test, y_test)))

Train set accuracy with all features: 0.850
Test set accuracy with all features: 0.690

### Summary of methods using NewClass

In [54]:
summary_new = pd.DataFrame(
    columns=['Univariate statistics', 'Model-based feature selection', 'Iterative feature selection'],
    index=['20', '50', '100', '150', '200'])
summary_new.loc[:, 'Univariate statistics'] = [
                univar(7), 
                univar(18), 
                univar(36.5), 
                univar(54.7),
                univar(73)
               ]
summary_new.loc[:, 'Model-based feature selection'] = [
                model_based(20), 
                model_based(50), 
                model_based(100), 
                model_based(150),
                model_based(200)
               ]
summary_new.loc[:, 'Iterative feature selection'] = [
                iterat(20), 
                iterat(50), 
                iterat(100), 
                iterat(150),
                iterat(200)
               ]

In [55]:
summary_new

,Univariate statistics,Model-based feature selection,Iterative feature selection
20,"{'Train': '0.847', 'Test': '0.788'}","{'Train': '0.841', 'Test': '0.708'}","{'Train': '0.873', 'Test': '0.735'}"
50,"{'Train': '0.853', 'Test': '0.779'}","{'Train': '0.858', 'Test': '0.735'}","{'Train': '0.867', 'Test': '0.726'}"
100,"{'Train': '0.829', 'Test': '0.726'}","{'Train': '0.853', 'Test': '0.735'}","{'Train': '0.844', 'Test': '0.717'}"
150,"{'Train': '0.855', 'Test': '0.717'}","{'Train': '0.850', 'Test': '0.681'}","{'Train': '0.844', 'Test': '0.690'}"
200,"{'Train': '0.850', 'Test': '0.717'}","{'Train': '0.850', 'Test': '0.690'}","{'Train': '0.850', 'Test': '0.690'}"

We received a higher accuracy on both train and test datasets with NewClass.